---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import '../styles/style.css';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'
    />
  </head>
  <body class='bg-gray-darker font-poppins relative z-1'>
    <div class="absolute inset-0 bg-clock-bg bg-no-repeat bg-contain bg-center opacity-5 -z-10"></div>
    <slot />
    <script defer src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
    <script src='../scripts/main.js'></script>
  </body>
</html>
